/* =================================
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700,900,900i);

/* =================================
  ELEMENT STYLES
==================================== */

* {
  box-sizing: border-box;
}
body {
  color: #576366;
  background: #f0ff0a;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

#logo{
  margin: 0;
  padding: 10px 10px;
  font-style: italic;
  font-weight: 900;
}

#home,
#foot{
  margin: 0;
  padding: 10px 10px;
  font-style: italic;
  font-weight: 900;
  text-align: center;
}

footer {
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  border-style: none;
  border-radius: 4px;
}

h2,h3{
  display: block;
  text-align: center;
}

li {
  margin-bottom: 10px;
}

#hints {
  padding: 5px 0;
  border: 1px solid gray;
  border-left: none;
  border-right: none;

}

.panel {
  background: #65264A;
  color: white;
  padding: 20px 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* FORM & BUTTON STYLES -------- */

.home a,
input,
button {
  padding: .5em;
  font-size: .9em;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  border: solid 1px #ccc;
  outline: none;
}
button {
  display: block;
  color: white;
  background: #4188dc;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  border-color: rgba(0,0,0, .1);
  margin: 0 auto 50px;
}

#upload {
  margin-top: 200px;
}
input {
  display: block;
  margin: 0 auto 20px;
  width: 95%;
  max-width: 300px;

}

.quiztext {
  display: inline-block;
  margin: 0 1%;
  padding: 3px;
}

.panel {
  margin: 0 auto;
  margin-bottom: 15px;
}

.ques {
  margin: 0;
  padding: 0;
}

.choice {
  margin: 10px auto;
  width: 95%;

}

.results {
  display: block;
  border-bottom: 1px black 2px;
  margin-bottom: 300px;
}

.mock {
  height: 200px;
  background: gray;
  border-radius: 5px;
  margin: 20px auto;
}

.record {
  background: red;
}

.paneltext {
  margin-top: 20px;
}

.centered {
  display: block;
  padding: 10px;
  margin: 0 auto 10px;
}
.centertext {
  text-align: center;
}
/* =================================
  LAYOUT & PAGE STYLES
==================================== */

a:visited {
  color: blue;
}
.container {
  width: 95%;
  height: 700px;
  max-width: 780px;
  padding-bottom: 2em;
  margin: 0 auto 2em;
  background: #fff;
  border-radius: .5em;
  box-shadow: 0 3px rgba(0,0,0, .1);
  overflow: hidden;


}
header {

  background: #edeff0;
  margin-bottom: 2em;
  width: 95%;
  max-width: 780px;
  margin: 0 auto 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  position: fixed;
  top: 0;
  z-index: 100;
}


.main-content {
  margin-top: 50px;
  padding: 1em 2em;
}

footer {
  background: #edeff0;
  width: 95%;
  max-width: 780px;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2), 6px 0 20px rgba(0, 0, 0, 0.19);

  position: fixed;
  bottom: 0;
  left: 2.5%;

  z-index: 100;
  margin: 0 auto;
}
/*.group:after {
  content: "";
  display: table;
  clear: both;
}
.course {
  margin-bottom: 1em;
}*/
